*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.container{
    position: relative;
    display: flex;
    height: 600px;
    width: 1200px;
    margin-left: 100px;
    margin-top: 20px;
}
.boxA{
    position: absolute;
    left: 0;
    top: 0;
}
.boxB{
    position: absolute;
    right: 0;
    top: 0;
}
.boxC{
    position: absolute;
    left: 0;
    bottom: 0;
}
.boxD{
    position: absolute;
    right: 0;
    bottom: 0;
}

.boxA, .boxB, .boxC, .boxD{
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border: 2px solid #fff;
    transition: all .5s;
}
.boxA.bigger, .boxB.bigger, .boxC.bigger, .boxD.bigger{
    width: 300px;
    height: 300px;
}
.boxA.color{
   background-color: orange;
} 
.boxB.color{
   background-color: purple;
} 
.boxC.color{
   background-color: orange;
} 
.boxD.color{
   background-color: purple;
}
.boxA.circle, .boxB.circle, .boxC.circle, .boxD.circle{
    border-radius: 50%;
}
.boxA.move{
    transform: translateX(300px);
}
.boxB.move{
    transform: translateX(-300px);
}
.boxC.move{
    transform: translateX(300px);
}
.boxD.move{
    transform: translateX(-300px);
}
.boxA.colored{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
} 
.boxB.colored{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
} 
.boxC.colored{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
} 
.boxD.colored{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}